In [1]:
import sqlite3

In [12]:
X=sqlite3.connect("SQL5DB.db")
print("A new database is created")
Y=X.cursor()

Y.execute('''CREATE TABLE SQL5Tab2(ID INT, Name TEXT, Date_Joined TEXT, Place TEXT, Salary INT, Age REAL)''')

Y.execute('''INSERT INTO SQL5Tab2 VALUES(1,"Peter","10/02/2022","Kochi",65000.89,28),(2,"James","11/02/2022","Sydney",65000.89,32),(1,"Marijam","09/02/2022","London",98000.89,28)''')

for row in Y.execute('''SELECT * FROM SQL5Tab2 ORDER BY Date_Joined'''):
    print (row)


X.commit()
X.close()

A new database is created
(1, 'Marijam', '09/02/2022', 'London', 98000.89, 28.0)
(1, 'Peter', '10/02/2022', 'Kochi', 65000.89, 28.0)
(2, 'James', '11/02/2022', 'Sydney', 65000.89, 32.0)

In [15]:
X=sqlite3.connect("SQL5DB.db")

Y=X.cursor()

Y.execute("SELECT * FROM SQL5Tab2 WHERE Name='Peter' ")
print (Y.fetchall())

X.close()

[(1, 'Peter', '10/02/2022', 'Kochi', 65000.89, 28.0)]

In [18]:
X=sqlite3.connect("SQL5DB.db")

Y=X.cursor()

data=Y.execute('''SELECT * FROM SQL5Tab2''')
for k in data:
        print("ID=",k[0])
        print("Name=",k[1])
        print("Date_Joined=",k[2])
        print("Place=",k[3])
        print("Salary=",k[4])
        print("Age=",k[5])
        
X.close()

ID= 1
Name= Peter
Date_Joined= 10/02/2022
Place= Kochi
Salary= 65000.89
Age= 28.0
ID= 2
Name= James
Date_Joined= 11/02/2022
Place= Sydney
Salary= 65000.89
Age= 32.0
ID= 1
Name= Marijam
Date_Joined= 09/02/2022
Place= London
Salary= 98000.89
Age= 28.0