In [1]:
import sqlite3

In [6]:
conn=sqlite3.connect("SQL4DB.db")
print("A new Database is created")

A new Database is created

In [14]:
conn.execute('''CREATE TABLE SQL4TABLE(ID INT, NAME TEXT)''')
print("A new Table is created")

OperationalError: table SQL4TABLE already exists

In [16]:
conn.execute('''INSERT INTO SQL4TABLE VALUES(1,"MATTHEW"),(2,"Ryan"),(3,"Apollina"),(4,"Carlo"),(5,"Mariya"),(6,"Alessandra")''')
conn.commit()